<input type="hidden" value="{{id}}" id="id" >
<div class="box">
  <div class="box-header">
    <div class="box-title">{{pageTitle}}</div>
  </div>
  <form class="form" id="post">
    <div class="box-body">
      <div class="form-group">
        <label>标题</label>
        <textarea name="title" rows="1" class="form-control">{{title}}</textarea>
      </div>
      <div class="form-group">
        <label>摘要</label>
        <textarea name="short" rows="3" class="form-control">{{short}}</textarea>
      </div>
      <div class="form-group">
        <label>正文</label>
        <textarea name="markdown" rows="10" class="form-control">{{markdown}}</textarea>
      </div>
    </div>
    <div class="box-footer">
      <button type="button" class="btn btn-primary submit-button">提交</button>
    </div>
  </form>
</div>
<script src="/js/post.js?t={{timestamp}}" charset="utf-8"></script>
